/* Define standard variables and values for website */
@font-face {
  font-family: Nunito;
  src: url(Nunito-Regular.ttf);
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: "Nunito";
  padding: 0px;
  background-color: #555555;
}

.current {
  background-color: #2da37c;
  color: #181818 !important;
  font-weight: bold;
}

.hideImage {
  right: -1000px;
}

.animateImage {
  position: absolute;
  right: 0px;
  -webkit-animation-name: imgAnim;
          animation-name: imgAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes imgAnim {
  0% {
    right: -500px;
    opacity: 0.2;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes imgAnim {
  0% {
    right: -500px;
    opacity: 0.2;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

#main {
  margin-left: 350px;
  color: white;
}

#main > div {
  padding: 0;
  margin: 0;
}

#main > div:nth-child(3n) {
  background: linear-gradient(45deg, rgba(255, 2, 234, 0.05), rgba(255, 2, 129, 0.05));
}

#main > div:nth-child(3n+1) {
  background: linear-gradient(45deg, rgba(81, 255, 0, 0.05), rgba(208, 255, 0, 0.05));
}

#main > div:nth-child(3n+2) {
  background: linear-gradient(45deg, rgba(0, 217, 255, 0.05), rgba(0, 68, 255, 0.05));
}

#main > div h1 {
  position: absolute;
  top: calc(50vh - 50px);
  left: calc((100vw + 350px)/2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: #2da37c;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-size: 40px;
  text-transform: capitalize;
  -webkit-clip-path: polygon(0% 0%, 1% 0%, 1% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 1% 0%, 1% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path .5s ease-in-out;
  transition: -webkit-clip-path .5s ease-in-out;
  transition: clip-path .5s ease-in-out;
  transition: clip-path .5s ease-in-out, -webkit-clip-path .5s ease-in-out;
}

#main > div h2 {
  text-align: center;
  background-color: #2da37c;
  padding: 20px;
  margin: 0;
  font-size: 40px;
  text-transform: capitalize;
  width: 60%;
  margin-left: 20%;
}

#main > div ul {
  font-size: 25px;
  margin-top: 100px;
  list-style-type: none;
}

#main > div ul li {
  margin-top: 30px;
  position: relative;
  min-height: 56px;
}

#main > div ul li span {
  font-size: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#cc09c2), to(#0e0bd8));
  background: linear-gradient(to bottom right, #cc09c2, #0e0bd8);
  padding: 10px;
  position: absolute;
  top: 0;
}

#main > div ul li p {
  display: inline-block;
  width: calc(100% - 150px);
  margin-left: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

#main > div img {
  float: right;
  margin-top: 150px;
  margin-right: 20px;
}

#main > div div {
  background: transparent;
  width: 100%;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: 25px;
  color: #afafaf;
}

.sidenav > ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav ul a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  color: #afafaf;
}

.sidenav ul a:hover {
  color: #f1f1f1;
}

.sidenav ul span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
}

.sidenav ul span::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}

.sidenav ul span:hover {
  color: #f1f1f1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.correspondance {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  font-size: 25px;
}

.correspondance td {
  text-align: left;
  padding: 8px;
}

.correspondance th {
  /*background-color: rgb(245, 56, 220);*/
  color: white;
  text-align: center;
  padding: 8px;
}

.correspondance tr:first-child {
  background-size: 400%;
  background: -webkit-gradient(linear, left top, right top, from(#cc09c2), to(#0e0bd8));
  background: linear-gradient(to right, #cc09c2, #0e0bd8);
}

.correspondance tr:nth-child(even) {
  background-color: #383654;
}

.correspondance tr:nth-child(odd) {
  background-color: #2b2a3c;
}

.footer {
  padding: 0;
  margin: 0;
  background-size: 300%;
  background: -webkit-gradient(linear, left top, right top, from(#cc09c2), to(#0e0bd8));
  background: linear-gradient(to right, #cc09c2, #0e0bd8);
  height: 200px;
}

.footer p {
  color: white;
  font-size: 25px;
  padding: 40px;
  padding-left: 50px;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #2da37c;
  font-weight: 600;
}

.footer a:visited {
  color: #37b188;
}

.footer a:hover {
  color: #37d6a1;
}
/*# sourceMappingURL=style.css.map */